<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>

  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  <!--my stylesheets -->
  <link rel='stylesheet' href='styles.css'>
</head>

<body ng-app='redditClone'>
  <div class="container">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <a class="navbar-brand" href='/'>Reddit Clone on Angular</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <!-- <li><a href="#">Submit post</a></li> -->
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
    </nav>
    <!-- New post form -->
    <div ng-controller='FormController as FC'>
      <form name='newPost'>
        <!--Title -->
        <div ng-class='{"has-error": newPost.title.$invalid && newPost.title.$dirty, "has-success": newPost.title.$valid }' class="form-group">
          <label for="title">Post title:</label>
          <input ng-model='FC.title' name='title' type="text" class="form-control" id="title" placeholder="enter a title for your post" ng-minlength='3' required />

          <p ng-show='newPost.title.$dirty && newPost.title.$error.minlength' class='help-block'>
            Title must be longer.
          </p>
          <p ng-show='newPost.title.$dirty && newPost.title.$error.required' class='help-block'>
            Title cannot be blank.
          </p>
        </div>
        <!--Author -->
        <div ng-class='{"has-error": newPost.author.$invalid && newPost.author.$dirty, "has-success": newPost.author.$valid }' class="form-group">
          <label for="author">Author:</label>
          <input ng-model='FC.author' name='author' type="text" class="form-control" id="author" placeholder="your name goes here" ng-minlength='2' required />

          <p ng-show='newPost.author.$dirty && newPost.author.$error.minlength ' class='help-block'>
            Author must be longer.
          </p>
          <p ng-show='newPost.author.$dirty && newPost.author.$error.required' class='help-block'>
            Author cannot be blank.
          </p>
        </div>
        <!--Post text -->
        <div ng-class='{"has-error": newPost.postText.$invalid && newPost.postText.$dirty, "has-success": newPost.postText.$valid }' class="form-group">
          <label for="postText">Post text:</label>
          <textarea ng-model='FC.postText' name='postText' type="text" class="form-control" id="postText" placeholder="what do you have to say?" ng-minlength='5' ng-maxlength='3000' required ></textarea>

          <p ng-show='newPost.postText.$dirty && newPost.postText.$error.minlength' class='help-block'>
            Post text must be longer.
          </p>
          <p ng-show='newPost.postText.$error.maxlength' class='help-block'>
            Post text must be less than 500 words.
          </p>
          <p ng-show='newPost.postText.$dirty && newPost.postText.$error.required' class='help-block'>
            Post text cannot be blank.
          </p>
        </div>
        <!--Image URL -->
        <div ng-class='{"has-error": newPost.image.$invalid, "has-success": newPost.image.$valid && newPost.image.$dirty}' class="form-group">
          <label for="image">Image URL:</label>
          <input ng-model='FC.image' name='image' type="url" class="form-control" id="image" placeholder="">
          <p ng-show='newPost.image.$error.url' class='help-block'>
            Enter a valid url.
          </p>
        </div>
        <!--BUTTON -->
        <button type="submit" class="btn btn-success" ng-disabled='newPost.$invalid'>Submit post</button>
      </form>
    </div>

  </div>
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <!--Angular -->
  <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.1/angular.min.js'></script>
  <!--my scripts -->
  <script src='app.js'></script>
</body>

</html>
